<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>scr_servlets.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>user_authentication</servlet-name>
        <servlet-class>scr_servlets.user_authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSONData</servlet-name>
        <servlet-class>scr_servlets.JSONData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getdata</servlet-name>
        <servlet-class>scr_servlets.user.getdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getdataadmin</servlet-name>
        <servlet-class>scr_servlets.admin.getdataadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getdatahalfadmin</servlet-name>
        <servlet-class>scr_servlets.half_admin.getdatahalfadmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_authentication</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>update_profile</servlet-name>
        <servlet-class>scr_servlets.admin.update_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_user</servlet-name>
        <servlet-class>scr_servlets.admin.create_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_user</servlet-name>
        <servlet-class>scr_servlets.admin.delete_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>send_file</servlet-name>
        <servlet-class>scr_servlets.admin.send_file</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>send_file_half</servlet-name>
        <servlet-class>scr_servlets.half_admin.send_file_half</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_user_half</servlet-name>
        <servlet-class>scr_servlets.half_admin.delete_user_half</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_profile_half</servlet-name>
        <servlet-class>scr_servlets.half_admin.update_profile_half</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_user_half</servlet-name>
        <servlet-class>scr_servlets.half_admin.create_user_half</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_profile_user</servlet-name>
        <servlet-class>scr_servlets.user.update_profile_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checForkUser</servlet-name>
        <servlet-class>scr_servlets.checForkUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>scr_servlets.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessReplyHalf</servlet-name>
        <servlet-class>scr_servlets.half_admin.ProcessReplyHalf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardFiles</servlet-name>
        <servlet-class>scr_servlets.half_admin.ForwardFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessReplyUserReceived</servlet-name>
        <servlet-class>scr_servlets.user.ProcessReplyUserReceived</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessReplyUserForwarded</servlet-name>
        <servlet-class>scr_servlets.user.ProcessReplyUserForwarded</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReplyToAdmin</servlet-name>
        <servlet-class>scr_servlets.half_admin.SendReplyToAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMessage</servlet-name>
        <servlet-class>scr_servlets.admin.SetMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>scr_servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>scr_servlets.HomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_profile</servlet-name>
        <url-pattern>/update_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_user</servlet-name>
        <url-pattern>/createuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_user</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>send_file</servlet-name>
        <url-pattern>/sendfile</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>file-upload</param-name>
        <param-value>C:\apache-tomcat-7.0.78\webapps\data\</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>send_file_half</servlet-name>
        <url-pattern>/sendfilehalf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_user_half</servlet-name>
        <url-pattern>/deleteuserhalf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_profile_half</servlet-name>
        <url-pattern>/updateprofilehalf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_user_half</servlet-name>
        <url-pattern>/createuserhalf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_profile_user</servlet-name>
        <url-pattern>/updateprofileuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checForkUser</servlet-name>
        <url-pattern>/checkforuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/downloadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessReplyHalf</servlet-name>
        <url-pattern>/processreplyhalf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardFiles</servlet-name>
        <url-pattern>/forwardfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessReplyUserReceived</servlet-name>
        <url-pattern>/processreplyuserreceived</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessReplyUserForwarded</servlet-name>
        <url-pattern>/processreplyuserforwarded</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReplyToAdmin</servlet-name>
        <url-pattern>/sendreplytoadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMessage</servlet-name>
        <url-pattern>/setmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSONData</servlet-name>
        <url-pattern>/GetData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getdata</servlet-name>
        <url-pattern>/getdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getdataadmin</servlet-name>
        <url-pattern>/getdataadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getdatahalfadmin</servlet-name>
        <url-pattern>/getdatahalfadmin</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/ErrorPage.jsp</location>
    </error-page>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>connpool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
